@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: url("../fonts/Roboto-Regular.woff2");
}
@font-face {
	font-family: "Roboto";
	font-weight: 500;
	src: url("../fonts/Roboto-Medium.woff2");
}
@font-face {
	font-family: "FiraMono";
	font-weight: 400;
	src: url("../fonts/FiraMono-Regular.woff2");
}

:root {
	--body-background: #f0f0f0;
	--body-color: #282828;
	--body-separator: #a0a0a0;
	--highlight-color: #ff7119;
	--code-background: #e0e0e0;
}

* {box-sizing: border-box;}
html {height: 100%;}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 1em;
	background: var(--body-background);
	color: var(--body-color);
	font-family: Roboto, Arial, sans-serif;
	font-size: 1.25em;
	line-height: 1.4;
}

h1 {
	padding-bottom: 0.125em;
	margin: 0 0 0.1875em 0;
	border-bottom: 1px solid var(--body-separator);
	font-size: 1.75em;
	font-weight: 400;
}

p {
	margin-top: 0;
}

em {
	color: var(--highlight-color);
	font-style: normal;
}

a {
	color: #0066cc;
	font-weight: 500;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.explanation {
	max-width: 14.5em;
	margin-left: auto;
	margin-right: auto;
}
.explanation p {
	margin-bottom: 0;
}
.explanation code {
	display: block;
	margin-bottom: 1em;
	padding: 0.25em 0;
	border-radius: 0.375em;
	background: var(--code-background);
	font-family: FiraCode, FiraMono, Consolas, monospace;
	font-size: 0.75em;
	font-weight: 400;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-background: #181818;
		--body-color: #e0e0e0;
		--body-separator: #606060;
		--highlight-color: #ffa166;
		--code-background: #202020;
	}
}