* {box-sizing: border-box;}
html {height: 100%;}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 1em;
	background: #202020;
	color: #f0f0f0;
	font-family: sans-serif;
	font-size: 1.25em;
}

h1 {
	padding-bottom: 0.125em;
	margin: 0 0 0.125em 0;
	font-weight: 400;
	border-bottom: 1px solid #606060;
}

p {
	margin-top: 0;
}